# IntelliJ IDEA / WebStorm specific
.idea/

# VSCode specific
.vscode/
.history/

# .npmrc config for npm repository
.npmrc

# Next.js specific
.next/

# Build folder for development
dist/

# Output build
lib/

# Ignore node modules
node_modules

# Coverage directory used by tools like istanbul
coverage

local-files/

.env



.vercel